<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <header>
      <h6>This is a header: </h6>
    </header>
    <% if(user){ %>
      <a><form action="/logout", method="POST">Your are logged in as: <%= user.id %>
      <input type="submit" value="logout">
      </form>
      </a>
    <% } else{ %>
      <a>You are not logged in, please
        <a href ='/register'>Register</a>
        or <a href ='/login'>Login</a>
      </a>
    <% } %>

  </body>
</html>
