<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
<body>
  <header>
    <% include ./partials/_header %>
    <h1>Register Page</h1>
  </header>
  <p>
    <form action="/register" method="POST">
      <!-- <label for='email'>Enter an email: </label> -->
      Enter an email: <br>
      <input id='email' type='email' name='email' style="width: 300px">
      <!-- <input type="submit" value="Submit"> -->

      <br>
      <!-- <label for='password'>Enter the password: </label> -->
      Enter the password: <br>
      <input id='password' type='password' name='password' style="width:300px">
      <br />
      <input type="submit" value="Register">

    </form>
  </p>
</body>
</html>




