<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp_register</title>
  </head>
<body>
  <header>
    <% include ./partials/_header %>
    <h2>Register Page</h2>
  </header>
  <p>
    <form action="/register" method="POST">Enter an email: <br>
      <input id="email" type="email" name="email" style="width: 300px">
      <br>Enter a password: <br>
      <input id="password" type="password" name="password" style="width:300px"><br>
      <input type="submit" value="Register">
    </form>
  </p>
</body>
</html>
