<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <ul>
    <% for (let key in urls) { %>
      <p>
        <li><%= key %>--> <%= urls[key] %></li>
        <form method="POST" action="/urls/<%= key %>/delete">
          <button type="delete">Delete</button>
        </form>
      </p>
    <% }; %>
  </ul>
</body>

</html>