<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
    <h2>Update a Long URL</h2>
  </header>
  <p>
    <a>ShortURL: <b><%= shortURL %></b>
      <form method="POST" action="/urls/<%= shortURL %>">
        <label for="longURL">Enter a New Long URL: </label>
        <input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>" style="width: 300px">
        <input type="submit" value="Update">
      </form>
    </a>
  </p>
</body>
</html>
